    
 /* Debugging */
    body[data-mobil="ios"] #sk-footer { 
       background: red; 
    }
    body[data-mobil="iphone"] #sk-footer { 
       background: green; 
    }
    
 /* Anpassungen Absender */
    body[data-mobil="iphone"] .sk-left-row {
       position: relative;
       margin-left: 40px;
    }
    body[data-mobil="iphone"] .sk-left-row .roboter {
       position: relative;
    }
    body[data-mobil="iphone"] .sk-left-row .sk-msg-avatar {
       position: absolute;
       top: -10px;
       left: -45px;
    }
    body[data-mobil="iphone"] .sk-left-row .sk-from {
       top: -10px;
       left: -45px;
    }
    